<div class="col-lg-12 container">
    <table class="table table-striped" ng-hide="1">
        <thead>
            <tr>
                <td>
                    Excise Tax
                </td>
                <td>
                    Value
                </td>
            </tr>

        </thead>
        <tr >
            <td>
                Duty Still
            </td>
            <td >{{exciseTax.dutyStill}}</td>

        </tr>
        <tr >
            <td>
                Duty Sparkling
            </td>
            <td >{{exciseTax.dutySparkling}}</td>

        </tr>
        <tr >
            <td>
                IRS Still
            </td>
            <td >{{exciseTax.irsStill}}</td>

        </tr>
        <tr >
            <td>
                IRS Still
            </td>
            <td >{{exciseTax.irsSparkling}}</td>

        </tr>
    </table>









        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Wine Price Tool
                    <span class="pull-right clickable"
                          ng-click="isCollapsed = !isCollapsed">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}">
                        </i>
                        </span>
                </h3>
            </div>
            <div class="panel-body" collapse="isCollapsed">
                <div class="form-group">
                    <form>

                        <div class="form-group" >

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="pricePerBottle" placeholder="Price Per Bottle" required >
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-sm-9">
                                <select required class="form-control" ng-options="fee.cost as fee.range for fee in shippingVars" ng-model="shippingOption">

                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <button type="submit" class="btn btn-default" ng-click="calculatePrice()">
                                    <span class="glyphicon glyphicon-glass"></span>Calculate</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
        </div>




        <div>
        <div ng-show = "finalPrice.isSet" class="bs-callout bs-callout-success">
            <h4>Final Prices - Stateside </h4>
            <table class="table">
                <tr>
                    <td style="width:20%">
                        <p class="my-label">Still:</p>
                    </td>
                    <td >
                        {{finalPrice.still|currency}}
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <p class="my-label">Sparkling:</p>
                    </td>
                    <td >
                        {{finalPrice.sparkling|currency}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>